body {
	margin: 0 auto;
	width: 90%;
	background-color: #88B04B;  /* pantone 2017 greenery */
}

article {
	margin-bottom: 1.5em;
	border: 2px solid #638B25; /* greenery compliment normal green */
	color: #3F6209; /* greenery compliment dark green */
	width:90%;
	padding: .5em;
}

/*ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
ul::first {
  text-align: right;
}

ul::last {
  text-align: left;
}

li {
	float: left;
	width: 33%;
	margin: 0 auto 0;
}
li::hover {
  background-color: #FFF;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #FFFFFF;
}*/
.kidCard {
	background-color: #638B25;
	width: 95%;
	height: 150px;
	margin: 1.5em 0 0 .5em;
}

#kid {
	font-size: .9em;
	float: left;
	text-align: left;
	margin: .5em 0 0 .5em;
	width: 50%;
}

#kid p {
	margin: 0;
	font-size: 1.1em;
}

#kidRate {
	float: right;
	text-align: right;
	margin: .5em .5em 0 0;
	font-size: .8em;
	width: 40%;
}

#kidRate p {
	margin: .5em 0 0 0;
	padding: 0;
	font-size: .7em;
	line-height: .8em;
}

#coinType{
	background-color: #88B04B;
	color: white;
	border: 1px solid white;
	padding: 3px;
	font-size: .7em;
}